
<div class="alert-pref">

	<div class="toggle-container">
	<div class="toggle-text">{{alertLabel}}</div>
	<div class="toggle-switch-right">
	<div class="toggle-switch">
		<label class="toggle-switch-label">
		<input type="checkbox" [(ngModel)]="toggle" (ngModelChange)="toggleState($event.target)" name="{{alertLabel}}" value="{{alertLabel}}" class="toggle-switch-checkbox">
	</label>
	</div>
	</div>
	</div>

	<div *ngIf="toggle" (click)="editPrefs($event)" class="alert-preferences ap-active"><small><a href="#">Edit Preferences</a></small></div>

</div>

<div class="radio-pref" *ngIf="modal">

	<div class="checkbox" *ngFor="let cbOption of optionsData">
		<label>{{cbOption.label}}<input type="checkbox" name="cbOption[]" value={{cbOption.id}} [(ngModel)]="cbOption.checked" (ngModelChange)="checkboxGroupChange()"></label>
	</div>

	<a href="#" (click)="closeModal($event)">Close</a>

</div>